ESC-10/
ESC-50/
ESC-50-master/
notebooks/
working_models/
ts/
spects/
dict*.npy
outputs/
pngs/
old_files/
infra/.terraform/
infra-training/.terraform/*
*_old
ESC-Dataset-for-Environmental-Sound-Classification.ipynb
results*
CAM*
*.ipynb

